.container {
    position: fixed !important;
    top: 100px;
    bottom: 0;
    left: 0;
    right: 0;
    // background-color: whitesmoke;
}

.card {
    width: 800px;
    margin: 0 auto;
}

.center {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.input {
    width: 300px;
}

.header {
    padding: 40px;
    background-color: #006847;
}

.footer {
    padding: 40px 49.4%;
    background-color: #CE1126;
    bottom: 10px;
    position: absolute;
}
